<%- include("./partials/header.ejs") -%>

<h1>Compose</h1>

<form action="/compose" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="text" class="form-control" name="titleText" value="Dogs" >

   <label for="exampleFormControlTextarea1">Post</label>
   <textarea class="form-control" name="postText" rows="3">Lick yarn hanging out of own butt cough furball into food bowl then scratch owner for a new one i can haz fall over dead (not really but gets sypathy) head nudges yet swat turds around the house. Human is washing you why halp oh the horror flee scratch hiss bite pooping rainbow while flying in a toasted bread costume in space, steal mom's crouton while she is in the bathroom or thinking longingly about tuna brine but making sure that fluff gets into the owner's eyes. Lick master's hand at first then bite because im moody. Tweeting a baseball cats secretly make all the worlds muffins shake treat bag, so i am the best but dead stare with ears cocked. Eat half my food and ask for more cereal boxes make for five star accommodation . Sit on human destroy the blinds this cat happen now, it was too purr-fect!!!. Hack pretend not to be evil and i shall purr myself to sleep, yet give me some of your food give me some of your food give me some of your food meh, i don't want it check cat door for ambush 10 times before coming in. Lick sellotape. Morning beauty routine of licking self poop in litter box, scratch the walls, eat all the power cords but stick butt in face find empty spot in cupboard and sleep all day white cat sleeps on a black shirt. Human give me attention meow walk on car leaving trail of paw prints on hood and windshield dream about hunting birds, cry louder at reflection yet purr like a car engine oh yes, there is my human slave woman she does best pats ever that all i like about her hiss meow , is good you understand your place in my world crash against wall but walk away like nothing happened. Pet me pet me don't pet me. This is the day chase the pig around the house yet meow meow we are 3 small kittens sleeping most of our time, we are around 15 weeks old i think, i don’t know i can’t count. Purrr purr littel cat, little cat purr purr i shall purr m</textarea>

 </div>
  <button class="btn btn-primary" type="submit" name="button" >Publish</button>
</form>

<%- include( "./partials/footer.ejs") -%>
